/annotations-13.0.jar
/asm-6.1.jar
/asm-tree-6.1.jar
/asm-commons-6.1.jar
/asm-util-6.1.jar
/asm-analysis-6.1.jar
/builder-3.1.1.jar
/gson-2.7.jar
/intellij-core-26.1.1.jar
/kotlin-compiler-26.1.1.jar
/lint-26.1.1.jar
/lint-api-26.1.1.jar
/lint-checks-26.1.1.jar
/lint-kotlin-26.1.1.jar
/manifest-merger-26.1.1.jar
/trove4j-20160824.jar
/uast-26.1.1.jar